.header{
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    padding: 1em;
    span{
        font-weight: 700;
        margin-right: auto;
    }
    &__img{
        margin-right: 1em;
        height: 40px;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        div {
            margin: 0 2em;
            a {
                text-decoration: none;
                color: black;
                opacity: 70%;
                &:hover{
                    opacity: 100%;
                }
            }
        }
    }
}