@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../scss/variables.scss";

.header{
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    background-color: $plt--main--green;
    border: 1px solid $plt--main--black-2 !important;
    @include media-breakpoint-up(md){
        padding: 0 2.5em;
    }
    padding: 0 1em;
    span{
        font-weight: 700;
        margin-right: auto;
        margin-left: 0.5em;
        @include media-breakpoint-down(md){
            display: flex;
            align-items: center;
        }
    }
    &__logo{
        @include media-breakpoint-down(sm){
            display: flex;
        }
    }
    &__img{
        margin-right: 1em;
        height: 40px;
    }
    &__btns{
        .header_btn {
            border-radius: 0;
            padding: 1em;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:focus-visible {
                border: 1px solid $plt--main--black-2 !important;
            }
            &:hover {
                transform: translate(4px, -4px);
                box-shadow: 4px 4px 0 $plt--main--black-2;
                border: 1px solid $plt--main--black-2 !important;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 8%;
                    z-index: -1;
                    background-image: url(/textura.avif);
                    background-position: 50% 0;
                }
            }
            &:active {
                transform: translate(0px, 0px) !important;
                box-shadow: none !important;
            }
        }
    }
    &__credits{
        @include media-breakpoint-up(md){
            margin: 0 1em;
        }
        margin: 0;
        color: black !important;
        a {
            text-decoration: none;
            color: black;
            opacity: 70%;
            &:hover{
                opacity: 100%;
            }
        }
    }
    &__language {
        background-repeat: no-repeat;
        width: 65px;
        height: 65px;
        justify-content: center;
        background-color: transparent !important;
        border: none !important;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
}

.dropdown {
    &-menu{
        background-color: $plt--main--white-bone !important;
        border-radius: 0 !important;
        border: 1px solid $plt--main--black-2 !important;
    }
    &-item{
        &:hover{
            background-color: $plt--main--white-bone !important;
            border: 1px solid $plt--main--black-2 !important;
            font-weight: 500;
            transform: translate(-2px, -2px);
            box-shadow: 2px 2px 0 $plt--main--black-2;
        }
        &:active {
            transform: translate(0px, 0px) !important;
            box-shadow: none !important;
            color: $plt--main--black-2 !important;
        }
    }
}