
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "scss/utils";
@import "scss/fonts";
@import "scss/variables";

body {
  font-family: "Montserrat", sans-serif;
  background-color: $plt-bgr--main;
}

section{
    padding: 3em 0;
    &.-theme-2{
        background-color: $plt--main--white-bone;
    }
}

.wrap{
    @include media-breakpoint-up(md){
        padding: 0 8em;
    }
    padding: 0 2em;
}

.-level{
    &-1{
        background-color: $c-red-1;
    }
    &-2{
        background-color: $c-orange-1;
    }
    &-3{
        background-color: $c-yellow-1;
    }
    &-4{
        background-color: $c-green-1;
    }
}