@import "./variables";
.tables-container{
    background-color: $plt--main--green;
    padding: 2.5em;
    height: 400px;
    min-width: 590px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid $plt--main--black-2;
}

.main-tables-container {
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    flex-direction: row-reverse; */
}

hr {
    &.-theme-1{
        margin: 0;
        border-top: 1px solid $plt--main--black-2 !important;
        opacity: 100% !important;
    }
}

.proportion {
    &_md{
        @include media-breakpoint-up(md){
            display: flex;
        }
        display: none;
        &__box{
            height: 15px !important;
            width: 12.1px !important;
            border: 1px solid $plt--main--black-2;
            &:not(.last){ 
                border-right-color: transparent !important;
            }
        }
    }
    @include media-breakpoint-up(md){
        display: none;
    }
    display: inline-flex;
    &__box{
        height: 15px;
        border: 1px solid $plt--main--black-2;
        &:not(:nth-last-child(1)){
            border-right-color: transparent !important;
        }
    }
}

.scale {
    max-width: 870px;
}

.currencies{
    @include media-breakpoint-up(sm){
        display: flex;
        justify-content: space-between;
    }
    >span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }
    &__values{
        display: flex;
        &--box{
            display: flex;
            border: 1px solid $plt--main--black-2;
            height: 22px;
            width: 80px;
            &:nth-child(1){
                @include media-breakpoint-up(sm){
                    margin-left: 0.5em;
                }
            }
            &:not(:nth-child(1)){
                margin-left: 0.5em;
            }
            >div{
                height: 20px;
                width: 20px;
                border-right: 1px solid $plt--main--black-2;
            }
            span {
                font-size: 13.5px;
                font-weight: 600;
                margin-left: 5px;
            }
        }
    }
}


.cafe-tables {
    //d-flex justify-content-between flex-wrap
    @include media-breakpoint-up(lg){
        justify-content: space-between
    }
    justify-content: space-around;
}