$plt--main--white: #FEF8E2;
$plt--main--white-bone: #FAF8EB;
$plt-bgr--main: #FED1BF;
$plt--main--black-2: #1D1D1D;
$plt--main--grey: #696750;
$c-green-1: #56DA4D;
$c-yellow-1: #FEC55A;
$c-orange-1: #FE8606;
$c-red-1: #EA032A;