$plt--main--white: #FEF8E2;
$plt--main--white-bone: #FAF8EB;
$plt-bgr--main: #FED1BF;
$plt--main--black-2: #1D1D1D;
$plt--main--grey: #696750;
$plt--main--green: #00B898;
$c-green-1: #56DA4D;
$c-green-2: #D9ECC7;
$c-yellow-1: #FEC55A;
$c-yellow-2: #FCF9D1;
$c-yellow-3: #FDFBE6;
$c-orange-1: #FE8606;
$c-orange-2: #FED9A3;
$c-orange-3: #FDECC8;
$c-red-1: #EA032A;
$c-red-2: #FFC1AD;
$c-red-3: #FDDBCB;